USE [Cult]
GO
/****** Object:  StoredProcedure [dbo].[createNewID]    Script Date: 2025-09-19 오후 9:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
ALTER PROCEDURE [dbo].[createNewID]
    @Param1 NVARCHAR(50),   -- user_id
    @Param2 NVARCHAR(32)  -- password
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.UserData WHERE user_id = @Param1)
    BEGIN
        SELECT 1 AS ReasonCode;  -- 이미 존재하는 ID
        RETURN;
    END

    DECLARE @salt VARBINARY(16) = CRYPT_GEN_RANDOM(16);
    DECLARE @hash VARBINARY(32) = HASHBYTES('SHA2_256',
                                CONVERT(VARBINARY(MAX), @Param2) + @salt);

    INSERT INTO dbo.UserData(user_id, password, salt)
    VALUES (@Param1, @hash, @salt);

    SELECT 0 AS ReasonCode; -- 성공
END
