USE [Cult]
GO
/****** Object:  StoredProcedure [dbo].[isValidID]    Script Date: 2025-10-12 오후 7:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[isValidID]  @Param1 NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM dbo.UserData WHERE user_id = @Param1)
    BEGIN
        SELECT 1 AS ReasonCode;
        RETURN;
    END

    SELECT 0 AS ReasonCode;
END
