USE [Cult]
GO
/****** Object:  StoredProcedure [dbo].[logIn]    Script Date: 2025-09-21 오후 4:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[logIn]  
    @Param1 NVARCHAR(50),
    @Param2 NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
 IF NOT EXISTS (SELECT 1 FROM dbo.UserData WHERE user_id = @Param1)
    BEGIN
        SELECT 1 AS ReasonCode;  -- 아이디 없음
        RETURN;
    END

    DECLARE @storedSalt VARBINARY(16);
    DECLARE @storedHash VARBINARY(32);

    SELECT @storedHash = [password], @storedSalt = salt
    FROM dbo.UserData
    WHERE user_id = @Param1;

    DECLARE @inputHash VARBINARY(32) = HASHBYTES(
        'SHA2_256',
        CONVERT(VARBINARY(MAX), @Param2) + @storedSalt
    );

    IF @storedHash <> @inputHash
    BEGIN
        SELECT 2 AS ReasonCode;  -- 비밀번호 틀림
        RETURN;
    END

    SELECT 0 AS ReasonCode; 
END
