USE [Cult]
GO
/****** Object:  StoredProcedure [dbo].[logIn]    Script Date: 2025-09-18 오후 5:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[logIn]  @Param1 VARCHAR(50), @Param2 VARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
 IF NOT EXISTS (SELECT 1 FROM dbo.UserData WHERE user_id = @Param1)
    BEGIN
        SELECT 1 AS ReasonCode;  -- 아이디 없음
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.UserData WHERE user_id = @Param1 AND password = @Param2)
    BEGIN
        SELECT 2 AS ReasonCode;  -- 비밀번호 틀림
        RETURN;
    END

    SELECT 0 AS ReasonCode; 
END
